# Ignore common R files
.Rhistory
.RData
.RDataTmp*
.Rproj.user/
*.Rproj

# Ignore Mac system file
.DS_Store

# Ignore image and plot files
*.png
*.jpg
*.pdf

# Ignore output files
*.csv
*.txt
*.xlsx

# Ignore temp and backup files
~$*
*.tmp
*.docx~

